<a href='javacript:void(0);' class='secBtn {{#if isActive}}activeBtn{{else}}inactiveBtn{{/if}} animated fadeInRightSmall delay{{delay}}' id='{{id}}' data-ref='{{buttonNum}}' data-automation='header_btn_{{id}}'>
	<span class='tertiaryNav fa fa-circle-o {{#if isActive}}selected fa-circle{{/if}}'></span>
	<span class='btnLabel'>{{navLabel}}</span>
</a>